<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style type="text/css">
        .login-wrapper {
            width: 100vw;
            height: 100vh;
            background-color: #eeeff3;
        }

        .slide-img {
            display: block;
            width: 100vw;
            height: 100vh;
        }

        .layui-btn-radius {
            width: 5vw
        }

        .logo-bg {
            z-index: 0;
        }

        .cet-them-color {
            color: #8635a0;
        }
        .cet-border{
            width: 100vw;
            border-bottom: 0.6vh solid #8635a0;
        }
        /*.form-control:focus{*/
        /*    border-color: #8635a0;*/
        /*    webkit-box-shadow:none;*/
        /*    box-shadow:none;*/
        /*}*/
    </style>
</head>

<link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
<link th:href="@{js/css/layui.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{js/jquery-3.6.0.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{js/layui.js}"></script>
<body>
<!--轮播结束-->
<!--表单开始 -->
<div class="layui-container">
    <div class="layui-row">
        <!--    <div class="" style="margin-top: 1vh">-->
        <div class="layui-col-md5" style="margin-top: 1vh">
            <img th:src="@{images/logo.jpg}" draggable="false">
        </div>
        <div class="layui-col-md7">
            <img th:src="@{images/ad_bg.jpg}" draggable="false">
        </div>
        <!--    </div>-->
    </div>
</div>
<div class="cet-border">
    <hr>
</div>
<div class="d-flex position-fixed justify-content-center login-wrapper">
    <div class="carousel  position-fixed col-sm-8 col-md-8 col-xl-6 p-6 ">
        <div class="">
            <img  th:src="@{images/logo_bg.jpg}" draggable="false" />
        </div>
    </div>
    <div style="z-index: 1;position: relative; margin-top: 2vh;margin-top: 9vh"
         class="col-sm-7 col-md-5 col-xl-3 p-3 bg">
        <div class=" text-center bg-transparent  card-img-top">
            <img th:src="@{images/login_title.jpg}" class="d-block w-100" draggable="false"/>
        </div>
        <div class="card-body">
            <form id="loginForm" th:action="@{/userLogin}" method="post">
                <div class="layui-row">
                    <div class="form-group text-left layui-col-md-offset2">
                        <label style="color: red" th:if="${param.error}">账号或密码错误,请重新输入</label>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="form-group text-left layui-col-md-offset2">
                        <!--一个输入组-->
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">账号</span>
                            </div>
                            <input type="text" class="form-control required" required lay-verify="required"
                                   placeholder="邮箱/手机" autocomplete="off"
                                   id="username" name="username" autofocus="autofocus" maxlength="32">
                            <span type="button" class="btn btn-link" id="retrievingAccount" style="text-decoration:none">找回账号?</span>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="form-group text-left layui-col-md-offset2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" >密码</span>
                            </div>
                            <input type="password" class="form-control required" name="password" id="password"
                                   placeholder="密码"
                                   maxlength="32">
                            <span type="button" class="btn btn-link" id="resetPassword" style="text-decoration:none">忘记密码?</span>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                </div>
                <div class="form-group form-check layui-row">
                    <div class="layui-col-md4 layui-col-md-offset2">
                        <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me"
                               checked="checked">
                        <label class="form-check-label cet-them-color" for="remember-me">记住我</label>
                    </div>
                    <div class=" layui-col-md-offset6">
                    <span class="layui-font-black ">没有通行证?
                        <label class="btn btn-link " id="register" style="text-decoration:none;padding:0;">点击注册</label>
                    </span>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="form-group layui-row">
                    <button type="submit" onclick="commit()" onmouseenter="enterColor(this)"
                            onmouseleave="leaveColor(this)" lay-filter="formDemo"
                            style="font-size:1vw;color: white;background-color: #40ca70;"
                            class="layui-btn layui-btn-primary layui-btn-radius layui-col-md-offset6">登&nbsp;&nbsp;录
                    </button>
                    <button type="button" onmouseenter="enterColor(this)" onmouseleave="leaveColor(this)"
                            style="font-size:1vw;color: white; background-color: #40ca70;"
                            class="layui-btn layui-btn-primary layui-btn-radius" id="resetLogin">重&nbsp;&nbsp;置
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    //鼠标进入改变颜色
    function enterColor(dom) {
        dom.style.backgroundColor = "#8635a0";
    };

    //离开变颜色
    function leaveColor(dom) {
        dom.style.backgroundColor = "#40ca70";
    };
    //自调用
    (function bindClick(){
        //找回账号
        $("#retrievingAccount").click(function () {
            layer.msg("找回账号不能使用，账号为手机号和邮箱号！", {
                icon: 5,
                time: 2000,
            });
        })
        //忘记密码
        $("#resetPassword").click(function () {
            layer.open({
                title: "<h3 class=\"layui-font-blue\">"  + '重置密码' + "</h3>"
                , content:
                    "<div class='content' style='display: grid;\n" +
                    "  grid-template-columns: 200px 400px'>" +
                    "<span>邮箱：</span><input id='reset-email' class='layui-input' placeholder='请输入邮箱'>" +
                    "<span>密码：</span><input id='reset-password' type='password' class='layui-input' placeholder='请输入修改密码'>" +
                    "<span>确认密码：</span><input id='reset-confirmPassword' type='password'  class='layui-input' placeholder='请确认修改后的密码'>" +
                    "<button id='reset-button-code' class='layui-btn-normal layui-btn-sm layui-btn-radius'>获取验证码：</button><input id='reset-code'  class='layui-input' placeholder='请输入验证码'>" +
                    "</div>",
                yes: function (){
                    //重置密码
                    $.ajax({
                        type: 'post',
                        url: '/user/restPassword',
                        data: {
                            email: email.val(),
                            password: password.val(),
                            confirmPassword: confirmPassword.val(),
                            code: code.val()
                        },
                        success: function (res){
                            if (res.code === 200){
                                layer.msg(res.msg, {
                                    icon: 1,
                                    time: 2000,
                                });
                            }else {
                                layer.msg(res.msg, {
                                    icon: 2,
                                    time: 2000,
                                });
                            }

                        },
                        error: function (res){
                            layer.msg(res.msg, {
                                icon: 2,
                                time: 2000,
                            });
                        }
                    })
                }
            });
            let email = $("#reset-email");
            let password = $("#reset-password");
            let confirmPassword = $("#reset-confirmPassword");
            let code = $("#reset-code");
            //获取验证码 校验表单
            $("#reset-button-code").click(function () {
                if (email.val() === ''){
                    email.attr("placeholder","请先输入邮箱,再获取验证码!");
                    email.focus();
                }else {
                    //请求验证码
                    $.ajax({
                        type: 'post',
                        url: '/user/captcha',
                        data:{
                            email:email.val()
                        },
                        success: function (res){
                            code.attr("placeholder",res.msg);
                        }
                    })
                }
            });
        })
        //点击注册
        $("#register").click(function () {
            layer.msg("内部系统，不能注册，由管理员导入数据！", {
                icon: 5,
                time: 2000,
            });
        })
        //重置
        $("#resetLogin").click(function () {
            $("input").val('');
            layer.msg("重置成功，请重新输入！", {
                icon: 1,
                time: 200,
            });
        })
    })();

    //提交登录表单
    function commit() {
        //先验证表单数据合法
        let username = $("#username");
        let password = $("#password");
        if (username.val() === undefined || username.val().trim() === "") {
            layer.msg("用户名不能为空！", {
                icon: 5,
                time: 1000,
            });
            //获取焦点
            username.focus();
            return;
        } else if (password.val() === undefined || password.val().trim() === "") {
            layer.msg("密码不能为空！", {
                icon: 5,
                time: 1000,
            });
            password.focus();
            return;
        };
    };

</script>
</body>
</html>